/* Full screen background */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: #f7f0eb;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

/* Lotus animation */
.loader-image {
  width: 90px;
  height: 90px;
   animation: pulse 2.5s ease-in-out infinite;
}

/* Grow + shrink animation */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.60);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
