.meet-asmi-container {
    padding: 80px 10px;
    background: #f9edda;
}

.meet-asmi {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    gap: 300px;
}

.asmi-img-wrapper {
    border-radius: 12px;
    box-shadow: 0 0 0 10px #fdfbf8;
    overflow: hidden;
}

.asmi-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    border-radius: 12px;
}

.asmi-text {
    max-width: 500px;
    text-align: left;
}

.asmi-text h2 {
    font-size: 32px;
    font-weight: 500;
    color: #3c1f17;
    margin-bottom: 8px;
}

.asmi-text h3 {
    font-size: 24px;
    font-weight: 700;
    color: #3c1f17;
    margin-top: 0;
    margin-bottom: 24px;
}

.asmi-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #7b5d52;
    margin-bottom: 30px;
}

.heading {
    font-size: 34px;
}

.sub-headiing {
    font-size: 26px;
}

.gen-test {
    font-size: 22px;
}

.btn {
  padding: 14px 26px;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  border: none;
}

.btn.primary-btn {
  background: #704035;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 850px) {
    .meet-asmi {
        flex-direction: column; 
        text-align: center;
        padding: 0 20px;
        gap: 0px;
    }

    .asmi-img-wrapper {
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .asmi-img {
        max-width: 250px;
    }

    .asmi-text {
        text-align: center;
    }
    
    .asmi-text h2 {
        font-size: 28px;
    }
    
    .asmi-text h3 {
        font-size: 20px;
        margin-bottom: 16px;
    }
    
    .asmi-text p {
        font-size: 16px;
        margin-bottom: 24px;
    }
}